/* You can add global styles to this file, and also import other style files */
@import url('http://netdna.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css');
@import url('http://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css');

body{
    background: #edf1f5;
    margin-top: 20px;
}
.addEmployeeModal{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid transparent;
    border-radius: 0;
}
.card{
    margin-bottom: 30px;
}

div.modalContent {
    opacity: 1;
    position: fixed;
    width: 75%;
    left: 50%;
    margin-left: -37.5%;
    height:100px;
    background-color: white;
    border: solid 4px black;
    border-color: black;
  }